body {
    background-color: #c7092fe7;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
strong {
    color: rgb(0, 0, 0);
}
p {
    width: 60%;
    font-size: large;
}
li {
    text-align: start;
    padding: 10px;
    width: 70%;
}
ul {
    width: 40%;
}
li::marker{
    color: black;
}
img {
    padding-top: 40px;
    max-width: 450px;
    padding-bottom: 50px;
    max-height: 500px;
}
a {
    text-decoration: none;
    color: rgba(51, 255, 0, 0.815);
    margin-right: 100px;
    font-size: large;
}
h2, h3 {
    padding: 3px;
    margin: 3px;
}
